@media (max-width: 1000px) {
  .container {
    width: auto;
    padding: 2rem;
  }

  header {
    height: auto;
    width: auto;
  }
}

@media (max-width: 750px) {
  .flex-2,
  .flex-3 {
    flex-direction: column;
  }

  header {
    height: auto;
    width: auto;
  }
  ul {
    width: auto;
  }

  section {
    width: auto;
  }

  .container {
    width: auto;
    padding: 2rem;
    overflow-x: hidden;
  }

  .flex-3-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  .ul-nav {
    background-color: #ffd8a8;
    padding: 10px;
    color: var(--dark-bg);
  }

  .flex-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-navbar ul {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media (max-width: 600px) {
  .container {
    width: auto;
    padding: 2rem;
  }

  .logo {
    padding-bottom: 4px;
  }

  /* .p-space {
    margin-left: 10px;
  } */

  /* .coin-list {
    padding-left: 4.1rem;
  } */

  header {
    height: auto;
    width: auto;
  }
}
